streamlit>=1.31.0
pandas>=2.0.0
yfinance>=0.2.36
plotly>=5.18.0
bcrypt>=4.1.0
passlib>=1.7.4
python-jose[cryptography]>=3.3.0
pytz>=2024.1
scikit-learn>=1.4.0
google-api-python-client>=2.100.0
google-auth>=2.27.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
